.body {
  font-family: "Assistant Regular";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div {
  height: 100vh;
}

main > div div {
  min-height: 10vh;
}

main > div .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60vh;
}

main > div .title h3 {
  text-transform: uppercase;
  font-family: 'Assistant Regular';
  letter-spacing: 0.2em;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5vh;
}

main > div .title h1 {
  font-family: "Cormorant Garamond";
  font-weight: bold;
  letter-spacing: -0.02em;
  font-size: 8rem;
}

main > div .picBorder {
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
}

main > div .picBorder img {
  width: 100%;
  z-index: 2;
  position: inherit;
  padding-top: 10vh;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  background-color: black;
  margin-right: 60vw;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  padding: 2vw 1vw 0 0;
  font-size: 1rem;
}

.myWork {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  height: 100vh;
}

.myWork .row {
  height: 100%;
}

.myWork div .square {
  background-color: black;
  height: 15vh;
}

.myWork div .title {
  border-top: 2px solid lightgrey;
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myWork div .title h3 {
  font-size: 4rem;
}

.myWork div .picBorder {
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}

.myWork div .projects {
  height: 100%;
  background: white;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.myWork div .projects .project {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.myWork div .projects .project img {
  height: 30vh;
  margin: auto;
  -webkit-filter: grayscale(80%) brightness(100%);
          filter: grayscale(80%) brightness(100%);
  z-index: 5;
}

.myWork div .projects .project:nth-of-type(3) img {
  -webkit-filter: grayscale(80%) brightness(180%);
          filter: grayscale(80%) brightness(180%);
}

.myWork div .projectdescriptions {
  height: 100%;
  background: white;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.myWork div .projectdescriptions .description {
  margin: 5vh 5vw;
}

.skills {
  height: 100vh;
}

.skills .square {
  background-color: black;
  height: 15vh;
}

.skills .title {
  font-family: "Cormorant Garamond";
  border-left: 2px solid lightgrey;
  height: auto;
}

.skills .title h3 {
  letter-spacing: -0.02em;
  font-size: 6rem;
  font-weight: bold;
  margin: 10vh auto auto 2vw;
}

.skills .rightside {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  background-color: white;
  z-index: 5;
  border-top: 2px solid lightgrey;
}

.skills .rightside > h2 {
  font-size: 1.5rem;
  margin: auto auto 2vh 4vw;
  font-weight: normal;
}

.skills .rightside .keyboardpic {
  width: 100%;
  position: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .rightside .keyboardpic img {
  width: 85%;
  z-index: 5;
  margin: 0 auto;
  position: inherit;
}

.skills .lastcolumn {
  height: 100vh;
  background-color: white;
  z-index: 5;
}
/*# sourceMappingURL=App.css.map */