$border: 2px solid lightgrey;

.body{
    font-family: "Assistant Regular";
    box-sizing: border-box;
}

.vertical-align {
    display: flex;
    align-items: center;
}

main {
    >div{
        height: 100vh;
    div{
        min-height: 10vh; 
    }
    .title{
        display: flex; 
        align-items: space-between;
        flex-direction: column;
        justify-content: space-between; 
        height: 60vh;
        h3{
            text-transform: uppercase;
            font-family: 'Assistant Regular';
            letter-spacing: 0.2em;
            font-size: 2rem; 
            font-weight: bold; 
            margin-top: 5vh; 
        }  
        h1{
            font-family: "Cormorant Garamond";
            font-weight: bold; 
            letter-spacing: -0.02em;
            font-size: 8rem; 
        }
    }
    .picBorder{
        border-left: $border; 
        border-right: $border;
        img{
            width: 100%; 
            z-index: 2; 
            position: inherit; 
            padding-top: 10vh; 
        }
    }
}
}
    
//Navbar 
nav{
    position: fixed; 
    bottom: 0; 
    left: 0; 
    height: 10vh; 
    width: 100vw; 
    background-color: black; 
    margin-right: 60vw; 
    div {
        display: flex; 
        justify-content: flex-start;
        color: white; 
        padding: 2vw 1vw 0 0; 
        font-size: 1rem; 
    }
}

//myWork

.myWork{
    height: min-content; 
    height: 100vh; 
    .row{
        height: 100%;
    }
    div{
        .square{
            background-color: black;
            height: 15vh;
        }
        .title{
            border-top: $border; 
            margin: auto; 
            height: 100%; 
            display: flex; 
            align-items: center;
            h3{
                font-size: 4rem;
            }
        }
        .picBorder{
            border-left: $border;
            border-right: $border; 
            border-bottom: $border; 
        }
        .projects{
            height: 100%; 
            background: white; 
            z-index: 5; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-around; 
        .project{
            margin: 0; 
            display: flex;  
            z-index: 5; 
                img{
                height: 30vh;  
                margin: auto; 
                filter: grayscale(80%) brightness(100%);
                z-index: 5;  
                }
            &:nth-of-type(3){
                    img{
                     filter: grayscale(80%) brightness(180%);    
                    }
            }
        }
    }
        .projectdescriptions{
            height: 100%; 
            background: white; 
            z-index: 5; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-around; 
            .description{
                margin: 5vh 5vw; 
            }
        }    
 }    
}

//Skills
.skills{
    height: 100vh; 
    .square{
        background-color: black;
        height: 15vh;
    }
    .title{
        font-family: "Cormorant Garamond";
        border-left: $border; 
        height: auto; 
        h3{
         letter-spacing: -0.02em;
         font-size: 6rem; 
         font-weight: bold; 
         margin: 10vh auto auto 2vw; 
        }
    }
    .rightside{
        width: 100%; 
        height: 100vh; 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        border-left: $border;
        border-right: $border; 
        background-color: white; 
        z-index: 5; 
        border-top: $border; 
        > h2{
            font-size: 1.5rem; 
            margin: auto auto 2vh 4vw;  
            font-weight: normal; 
        }
        .keyboardpic{
            width: 100%;   
            position: inherit; 
            display: flex;
            justify-content: center;
            img{
                width: 85%; 
                z-index: 5; 
                margin: 0 auto;
                position: inherit;  
            }
        }
    }
    .lastcolumn{
        height: 100vh; 
        background-color: white; 
        z-index: 5; 
    }
}
